<!DOCTYPE html>
<html>
<head>
	<title>Snow</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700|Roboto:300|Work+Sans:400,500,700" rel="stylesheet">
</head>
<body>

	<header class="header">

		<nav class="header-menu">
			<div class="content">
				<div class="header-menu-wrapper">
					<a href="#" title="logo">
						<img class="header-menu-logo" src="../img/header/logo-light.svg" alt="logo">
					</a>

					<i class="fa fa-bars"></i>
					<ul class="header-menu-list">
						<li class="header-menu-list-item">
							<a href="#">About</a>
						</li>
						<li class="header-menu-list-item">
							<a href="#">Contact</a>
						</li>
						<li class="header-menu-list-item">
							<a href="#">Portfolio</a>
						</li>
						<li class="header-menu-list-item">
							<a href="#">Blog</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

	</header>